[submodule "chap7/giraffe"]
	path = chap7/giraffe
	url = https://github.com/autonomousvision/giraffe
[submodule "chap9/chap9/synsin"]
	path = chap9/chap9/synsin
	url = https://github.com/facebookresearch/synsin
[submodule "chap10/meshrcnn"]
	path = chap10/meshrcnn
	url = https://github.com/facebookresearch/meshrcnn
